{% extends 'base.html.twig' %}

{% block title 'Sujet ' ~ subject.title %}

{% block body %}
    <article class="card card-block">

        {{ include('@App/Subject/_subject.html.twig', {subject: subject}) }}

        <h4>Replies</h4>

        {% for reply in replies %}
            <article class="reply"{% if reply.voteNegative %} style="background: grey;"{% endif %}>
                <h5>
                    <span id="reply-vote-{{ reply.id }}">{{ reply.votes }}</span>
                    <a data-vote-on="#reply-vote-{{ reply.id }}" href="{{ path('reply_vote_down', { id: reply.id }) }}">&downarrow;</a>
                    <a data-vote-on="#reply-vote-{{ reply.id }}" href="{{ path('reply_vote_up', { id: reply.id }) }}">&uparrow;</a>
                    {{ reply.author }}
                </h5>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('reply_remove', {id: reply.id}) }}">Supprimer</a>
                {% endif %}
                <section class="card-text">{{ reply.text | nl2br }}</section>
                <span class="card-text">
                    <small class="text-muted">
                        {{ subject.updatedAt|localizeddate }}
                    </small>
                </span>
            </article>
        {% endfor %}

        <form action="{{ path('subject_show', {id: subject.id}) }}" method="POST">
            {{ form_widget(form) }}
            {{ form_rest(form) }}

            <button type="submit">Répondre</button>
        </form>
    </article>
{% endblock %}
